.container {
  display: flex;

  width: 100vw;
  height: 100vh;
}

.sections-container {
  display: flex;
  flex-direction: column;

  flex: 0.6;
}

.image-container {
  flex: 0.4;
}

.image-container img {
  width: 100%;
  height: 100%;
}
.sections-container .main-container {
  margin-left: 8rem;
}

.head {
  display: flex;
  flex-direction: column;
}
.heading-1 {
  display: flex;
  align-items: center;
  font-size: 61px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  gap: 25px;
  color: #0057ff;
}
.heading-2 {
  font-size: 61px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #0057ff;
}
.sub-heading-1 {
  color: black;
}
.ui-btn {
  background-color: #0057ff;
  color: white;
  padding: 2px 3px;
  width: 5rem;
  border: none;
  border-radius: 20px;
  font-size: 19px;
}

.para {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.hire-btn {
  width: 174.49px;
  height: 55.17px;
  left: 97px;
  top: 430px;

  background: linear-gradient(90deg, #ff6363 0%, rgba(255, 60, 60, 0.93) 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.email {
  cursor: pointer;
  margin-left: 20px;
  font-weight: 500;
}
.email:hover {
  text-decoration: underline;
}

.detail {
  margin-top: 3rem;
}
.detail-2 {
  margin-top: 1.5rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.sub-detail {
  width: 150px;
  height: 26px;
  left: 97px;
  top: 569.7px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.6564px;
  line-height: 26px;

  color: #686868;
}
.modal-container {
  display: flex;
  flex-direction: column;
}
.icons {
  display: flex;
  justify-content: space-evenly;
}
.icons .ico {
  font-size: 3em;
}
.Modal-Details {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.Modal-buttons {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 1rem;
}
.Modal-buttons .contactMe {
  width: 101px;
  height: 45px;
  background: #000000;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
.Modal-buttons .cancelBtn {
  margin-top: 7px;
  width: 52px;
  height: 22px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14.3412px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #000000;
  cursor: pointer;
}

.sections-container .footer {
  display: flex;
  gap: 8rem;
  background-color: black;
  width: 100%;
  height: 320px;
  color: white;
}
.footer-content {
  margin-left: 8rem;
}
.footer-btn {
  width: 162px;
  height: 47px;
  color: white;
  border: none;
  font-family: "Poppins", sans-serif;
  background: #ff2f2f;
  cursor: pointer;
}
.footer-inputs {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  border: none;
}
.input {
  width: 233px;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .all-details {
    color: white;
  }
  .sub-detail {
    color: white;
  }
  .main-container {
    width: 100vw;
    height: 100vh;
  }

  .image-container img {
    width: 100%;

    display: none;
  }
  .sections-container {
    background: url("../../public/assets/image.jpg");
    object-fit: contain;
  }
  .sections-container .main-container {
    margin-left: 2rem;
  }
  .sections-container .footer {
    gap: 2rem;
  }
  .footer-content {
    margin-left: 1rem;
  }
  .Modal-Details {
    font-size: 1rem;
    color: #000000;
  }
  .email:hover {
    text-decoration: underline;
  }
}
